include ARCHITECTURE.md
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
recursive-include examples *.json *.md *.txt
recursive-include proto *.proto
recursive-include scripts *.py *.sh
recursive-include sql *.sql
